<div class="main-container">
  <h1>Why saving is so important?</h1>
  <div class="info">
      <div class="info-text-container">
        <p>Fusce ullamcorper ipsum in nisi sagittis, vel fermentum orci tristique. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam id elit nec lacus elementum feugiat eget vel nunc. Aliquam quis nulla mattis massa mattis dictum. Donec pharetra ante ac viverra faucibus. Duis placerat quam ipsum, in congue orci malesuada ut. Phasellus vel nisl sit amet quam iaculis tempor sed nec quam.
        </p>
        <p>Nam rutrum ante a malesuada laoreet. Mauris luctus turpis ut lacus mollis fringilla. Proin volutpat nibh in odio egestas cursus. Fusce ullamcorper ipsum in nisi sagittis, vel fermentum orci tristique. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam id elit nec lacus elementum feugiat eget vel nunc. Aliquam quis nulla mattis massa mattis dictum. Donec pharetra ante ac viverra faucibus. Duis placerat quam ipsum, in congue orci malesuada ut. Phasellus vel nisl sit amet quam iaculis tempor sed nec quam.
        </p> 
        <p> Fusce ullamcorper ipsum in nisi sagittis, vel fermentum orci tristique. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam id elit nec lacus elementum feugiat eget vel nunc. Aliquam quis nulla mattis massa mattis dictum. Donec pharetra ante ac viverra faucibus. Duis placerat quam ipsum, in congue orci malesuada ut. Phasellus vel nisl sit amet quam iaculis tempor sed nec quam.
        </p>
      </div>
      <iframe class="info-movie" width="520" height="350" src="https://www.youtube.com/embed/a5UMk5H0P_A"></iframe>
  </div>
</div>
